<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al sistema</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='estilos.css') }}">
    <script>
        function login(){
            //alert('hola');
            usuario=document.getElementById('usuario').value
            password=document.getElementById('password').value
            //alert(usuario);
            //alert(password);
            if (usuario != "" && password != ""){
                //alert("Campos llenos");
                document.getElementById("validacion").innerHTML="Campos llenos";
            }
            else{
                //alert("Ingresar todos los campos")
                document.getElementById("validacion").innerHTML="Ingresar todos los campos";
            }
        }
    </script>

</head>
<body>
    <div id="cajalogin">
        <p><h4>Bienvenido al sistema</h4></p>
        <p class="textos">Usuario: <input type="text" id="usuario" name="usuario"></p>
        <p>Contraseña: <input type="password" id="password" name="password"></p>
        <div id="botoningreso">
            <p><input type="button" value="Ingresar" id='btnIngreso' onclick="login()"></p>
        </div>
        <p><input type="button" value="Ingresar_v" id='btnIngreso' onclick="window.open('registro')"></p>
        <p id="validacion"></p>
    </div>
</body>
</html>