<!DOCTYPE html>
<html lang="en">
<head>
  <title>ConvulX/información</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="\menu">
      <h1>ConvulX</h1>
    </a>
  </li>
</ul>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    </a>
    <button onclick="window.open('/usuario', '_self')"><img src="https://www.nicepng.com/png/detail/501-5010656_my-account-comments-my-account-icon-vector.png" alt="Logo" style="width:40px;" class="rounded-pill"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="\frecuencia">Frecuencia cardíaca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="\dormir">Ciclo de sueño</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="\medicamentos">Medicamentos</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" href="\informacion">Información</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" href="\que">¿Qué hacer en caso de ...?</a>
        </li>  
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid mt-3">
  <h3>Información</h3>
  <p>
    <br><b>Datos y cifras:</b> 
    <br>- La epilepsia es una enfermedad cerebral crónica no transmisible 
    que afecta a personas de todas las edades. 
    <br>- En todo el mundo, unos 50 millones de personas padecen epilepsia, 
    lo que la convierte en uno de los trastornos neurológicos más comunes. 
    <br>- Cerca del 80% de los pacientes viven en países de ingresos bajos y medianos. 
    <br>- Se estima que el 70% de las personas con epilepsia podrían vivir sin convulsiones si se diagnosticaran y trataran adecuadamente. 
    <br>- El riesgo de muerte prematura en personas con epilepsia es hasta tres veces mayor que en la población general. 
    <br>- Tres cuartas partes de las personas afectadas que viven en países de ingresos bajos no reciben el tratamiento que necesitan. 
    <br>- En muchas partes del mundo, los enfermos de epilepsia y sus familias sufren estigmatización y discriminación. 
  
    <br><br>La epilepsia es una enfermedad cerebral crónica no transmisible que afecta a unos 50 millones de personas en todo el mundo. 
    Se caracteriza por convulsiones recurrentes, que son episodios breves de movimiento involuntario que pueden involucrar una parte del cuerpo 
    (parcial) o todo el cuerpo (generalizado) y en ocasiones se acompañan de pérdida de conciencia y control de la función intestinal o vesical. 
    Las convulsiones se deben a descargas eléctricas excesivas en un grupo de células cerebrales que pueden producirse en diferentes partes del cerebro. 
    Las convulsiones pueden ir desde episodios muy breves de ausencia o de contracciones musculares hasta convulsiones prolongadas y graves. 
    Su frecuencia también puede variar desde menos de una al año hasta varias al día. 
    <br><br><b>Sigos y síntomas:</b> 
    <br>Las características de las convulsiones varían y dependen de en qué parte del cerebro comienza la alteración y cómo se propaga. Ocurren síntomas 
    temporales, como pérdida del conocimiento o la conciencia, y alteraciones del movimiento, de los sentidos (en particular visión, audición y gusto), estado de ánimo u otras funciones cognitivas. 
    <br><br> Es posible prevenir una gran parte de las causas de defunción relacionadas con la epilepsia, como caídas, ahogamientos, quemaduras y convulsiones prolongadas, especialmente en los países de ingresos bajos y medianos. 
    <br><br><b>Datos de la enfermedad:</b> 
    <br>La epilepsia es responsable de una proporción significativa de la carga mundial de morbilidad, pues afecta a más de 50 millones de personas. La proporción de la población general con epilepsia activa (es decir, con ataques 
    continuos o necesidad de tratamiento) en un momento dado se estima entre 4 y 10 personas cada 1000. 
    <br><br>Según las estimaciones, en todo el mundo se diagnostican anualmente unos cinco millones de casos de epilepsia. En los países de ingresos altos, se estima que 49 de cada 100 000 personas son diagnosticadas de epilepsia 
    cada año. En los países de ingresos bajos y medianos, la cifra puede ser de hasta 139 cada 100 000 personas. 
    <br><br><b>Causas:</b> 
    <br>La epilepsia no es contagiosa. Si bien muchos mecanismos de enfermedad subyacentes pueden conducir a la epilepsia, su causa aún se desconoce en aproximadamente el 50% de los casos de todo el mundo. 
    Las causas de la epilepsia se dividen en las categorías siguientes: estructurales, genéticas, infecciosas, metabólicas, inmunológicas y desconocidas. Entre ellas cabe señalar: 
    <br>- Daño cerebral por causas prenatales o perinatales (por ejemplo, hipoxia o traumatismos durante el parto, bajo peso al nacer). 
    <br>- Malformaciones congénitas o trastornos genéticos con malformaciones cerebrales asociadas. 
    <br>- Traumatismos craneoencefálicos graves. 
    <br>- Accidentes cerebrovasculares que limitan la llegada de oxígeno al cerebro. 
    <br>- Infecciones cerebrales como meningitis, encefalitis o neurocisticercosis. 
    <br>- Ciertos síndromes genéticos y tumores cerebrales. 
    <br><br><b>Tratamiento:</b> 
    <br>Las convulsiones se pueden controlar. Con la administración adecuada de medicamentos anticonvulsivantes, hasta un 70% de las personas con epilepsia podrían vivir sin convulsiones. 
    Después de dos años sin convulsiones, puede considerarse la posibilidad de suspender la medicación; para ello, se deben tener en cuenta los factores clínicos, sociales y personales pertinentes. 
    Una etiología documentada de la crisis epiléptica y un trazado de electroencefalograma (EEG) anormal son los dos predictores más sólidos de la recurrencia de convulsiones. 
    <br><br><b>Prevención:</b> 
    <br>- La prevención de los traumatismos craneales, por ejemplo, reduciendo las caídas, los accidentes de tránsito y las lesiones derivadas de la práctica del deporte, es la forma más eficaz de evitar la epilepsia postraumática. 
    <br>- Una atención perinatal adecuada puede reducir los nuevos casos de epilepsia causados por lesiones durante el parto. 
    <br>- La prevención de la epilepsia asociada a accidentes cerebrovasculares se centra en la reducción de los factores de riesgo cardiovascular, por ejemplo, a través de medidas de prevención o control de la hipertensión arterial, 
    la diabetes y la obesidad, y la evitación del tabaquismo y el consumo excesivo de alcohol.</p> 
     
    <img src = "https://medlineplus.gov/spanish/ency/images/ency/fullsize/19236.jpg" 
    width = "400" height = "300"> 
    <p> Información tomada de: https://www.who.int/es/news-room/fact-sheets/detail/epilepsy</p> 
   
    <p><b> Otras paginas de interes:</b></p> 
    <p> https://medlineplus.gov/spanish/ency/article/000694.htm</p> 
    <p> https://www.mayoclinic.org/es-es/diseases-conditions/epilepsy/symptoms-causes/syc-20350093</p> 
    <p> https://www.cdc.gov/epilepsy/spanish/basicos/preguntas-comunes.html</p> 
    <p> https://www.cun.es/enfermedades-tratamientos/enfermedades/epilepsia</p>
  </p>
</div>

<h4>Algunos medicamentos frecuentes son:</h4>

<div id="accordion">

  <div class="card">
    <div class="card-header">
      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseOne">
        Ácido valproico
      </a>
    </div>
    <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="container-fluid mt-3">
          <h3>Ácido valproico</h3>
          <p>
          El Ácido valproico es un fármaco anticonvulsionante dotado de un amplio especto de actividad
          antiepiléptica. Su uso clínico es para epilepsisas generalizas primarias como crisis tónico-clónicas, atónicas,
          ausencias y crisis mioclónicas. Para crisis parciales simples secundariamente generalizadas. </p>
          
          <p>Dosis óptima debe determinarse segín la respuesta clínica. Su administración es vía oral en comprimidos 
          tragar enteros sin masticar ni triturar o solución oral tomar en medio de vaso de agua y con comidas, nunca con bebidas
          carbonatadas.</p>
        
          <p><b>Contraindicaciones</b>:
          <br>- Hipernsensibilidad a valprotato sódico o alguno de sus excipientes.
          <br>- Hepatitis aguda y crónica.
          <br>- Antecedentes personales o familiares de hepatitis grave, especialmente relacionada con fármacos.
          <br>- Porfiria hepática.
          <br>- Trastornos del metabolimos de aminoácidos ramificados y del ciclo de la urea.
          <br>- Nauseas y vómitos.
          <br>- Mareos, somnolenci y pérdida del equilibrio.
          <br>- Estreñimiento o diarrea.
          <br>- Dolor estomacal e indigestión.
          <br>- Vision borrosa o doble.
          <br>- Cansancio.
          <br>- Dolores musculares.
          <br>- Pérdida de pelo.
          <br>- Insomnio.
          <br>- Recuentos sanguíneos bajos.</p>
        
          <p><b>Intrucciones especiales:</b>
          <br>- No deje de tomar este medicamento hasta que su doctor se lo indique. Si deja tomarlo sin autorización 
          puede sufrir un aumento de convulsiones.
          <br>- Guardar a temperatura ambiente.
          <br>- Varios medicamentos pueden potenciar los efectos secundarios del ácido valproico.</p>
        
          <p> 
          Se le puede llegar a extraer sangre periódicamente para detectar cambios en la función hepática.
          </p>
        
          <img src = "https://www.cenabast.cl/wp-content/uploads/2022/03/Acido-valproico-500-mg-1.jpg"
          width = "400" height = "300">
        
          <p> Información tomada de: <A HREF="https://www.aeped.es/comite-medicamentos/pediamecum/acido-valproico"> https://www.aeped.es/comite-medicamentos/pediamecum/acido-valproico </A></p>
        
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="btn" data-bs-toggle="collapse" href="#collapseTwo">
        Carbamazepina
      </a>
    </div>
    <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="container-fluid mt-3">
          <h3>Carbamacepina</h3>
          <p>La carbamazepina es un antiepilético indicado para crisis apilépticas aprciales con sintomatología compleja o simples
          (con o sin perdida de consciencia) con o sin generalización secundaria. Epilepsias con crsis mixtas y utilizado tanto en mono terapia
          como en terapia combinada(es decir, como fármaco único o junto con otros a la vez) que se elimina habitualmente con rapidez y uno de los mejor tolerados.
          </p>
        
          <p><b>Efectos secundarios e interacciones con otros fármacos: </b>
          <br>Leer detenidamente el prospecto del fármaco o la ficha que se puede solicitar en la farmacia. En ocasiones aparecen, entre el 5% y el 10% de los pacientes,
          reacciones cutáneas como el exantema del sarampión, en este caso hay que interrumpir inmediatamente el  tratamiento. En algunos pacientes, sobre todo al
          comienzo del tratamiento, aparece una sensación de mareo o visión borrosa a las dos horas de haber tomado el fármaco.</p>
          <p><b> En este apartado, prestar atención tanto al principio activo del fármaco, como a los excipientes que contenga y que dependen de al forma de presentación
          del mismo.</b>
          <b><br><br> Forma de comercialización:</b> comprimidos.
          <br><br> Dosis, según prescripción del neurólogo y observación de la clínica del paciente(efecto que produce en su organismo al tomarlo).</p>
        
          <img src = "https://laboratoriosifa.com/wp-content/uploads/Carbamazepina-200-mg.jpg"
          width = "400" height = "300">
        
          <p> Información tomada de: <A HREF="https://www.apiceepilepsia.org/farmacos-anti-epilepticos-fae/#Salto1"> https://www.apiceepilepsia.org/farmacos-anti-epilepticos-fae/#Salto1 </A></p>
        
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
        Fenitoína
      </a>
    </div>
    <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="container-fluid mt-3">
          <h3>Fenitoína</h3>
          <p>La fenitoína es un antiepiléptico eficaz en status epilépticos del tipo tonicoclónicos y en crisis 
          parciales o complejas.
          <br><br><b> Efectos secundarios e interacciones con otros fármacos:</b>
          Leer detenidamente el prospecto del fármaco o la ficha que se puede solicitar en la farmacia. Es uno de los
          fármacos que tiene más efectos adversos. Por lo tanto, su utilización como medicación crónica es de forma excepcional.
          <br><br><b> Forma de comercialización:</b>
          <br>- Cápsulas.
          <br>- Suspensión.
          <br>- comprimidos.
        
          <br><br> Dosis, según prescripción del neurólogo y observación de la clínica del paciente(efecto que produce en su organismo al tomarlo).</p>
        
          <img src = "https://victusvenezuela.com/wp-content/uploads/2021/07/sodica-victus.jpg"
          width = "400" height = "300">
          
          <p> Información tomada de: <A HREF="https://www.apiceepilepsia.org/farmacos-anti-epilepticos-fae/#Salto1"> https://www.apiceepilepsia.org/farmacos-anti-epilepticos-fae/#Salto1 </A></p>
        
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">
        Fenobarbital
      </a>
    </div>
    <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="container-fluid mt-3">
          <h3>Fenobarbital</h3>
          <p>
          Barbitúrico de acción prolongada, hipnótico, anticonvulsivo y sedante.
          Escasos efectos secundarios periféricos auqnue, sin embargo, sus efectos centrales le convierten 
          en fármaco antiepléptico de segunda línea, salvo en convulsiones neonatales.
          <br><br><b>Uso clínico:</b>
          <br>- Segunda línea en el tratamiento de crisis convulsivas generalizadas tipo gran mal,
          en crisis parciales y en el estatus epiléptico tras benzodiacepinas y fenitoína.
          <br>- Primera línea en el tratamiento de convulsiones neonatales y menores a 1 año (vía parenteral).
          <br>- Tratamiento a corto plazo del insomnio. No se recomienda su uso a largo plazo, ya que pierde
          su efectividad en la inducción y mantenimiento del sueño tras 2 semanas o menos de tratamiento (vía oral).
          <br>- Tratamiento de primera elección en síndrome de abstinencia neonatal a no opiáceos o en recién nacidos
          expuestos a múltiples drogas (vía parenteral u oral).
          <br><br><b>Dosis y pautas de administración:</b>
          <br>- Vía oral.
          <br>- Vía parenteral.
          <br><br><b> Insuficiencia renal:</b> aumentar el intervalo de dosiﬁcación. Con aclaramientos inferiores a 10 ml/min,
          está recomendada la reducción en un 50% de la dosis diaria.
          <br><b>Insuficiencia hepática:</b> disminuir dosis, ya que puede precipitar encefalopatía hepática.
          <br><br><b> Contraindicaciones:</b>
          <br>Hipersensibilidad a fenobarbital o a alguno de sus componentes, intoxicación aguda por alcohol,
          administración simultánea de somníferos o analgésicos, así como en caso de intoxicación por estimulantes o psicofármacos sedantes.
          <br><br>El fenobarbital está también contraindicado en pacientes con enfermedad respiratoria en la que es evidente la disnea u obstrucción.
          <br><br><b> Precauciones:</b>
          <br>- Monitorizar niveles plasmáticos (rango terapéutico: 15-40 µg/ml).
          <br>- En caso de uso por vía intravenosa, observar signos de extravasación o flebitis.
          <br>- El riesgo de depresión respiratoria se incrementa con el uso concomitante de benzodiacepinas. Se debe tener en cuenta el efecto depresor
          del fenobarbital sobre la respiración. Se recomienda especial precaución en pacientes con trastornos de la conciencia.
          <br>- Los niños pueden reaccionar a los barbitúricos con excitación paradójica.
          <br>- Tras una prolongada administración puede desarrollarse dependencia, por lo que, para retirar el fármaco, se debe disminuir la dosis progresivamente
          durante meses (larga vida media).
          <br>- Monitorización periódica de hemograma y función hepática y renal.
          <br>- Su utilización en convulsiones febriles complicadas se ha asociado con déficits cognitivos en niños.
        
          <br><br> Dosis, según prescripción del neurólogo y observación de la clínica del paciente(efecto que produce en su organismo al tomarlo).</p>
          </p>
        
          <img src = "https://salofarm.ro/pub/media/catalog/product/f/e/fenorbarbital1.jpg"
          width = "400" height = "300">
        
          <p> Información tomada de: <A HREF="https://www.aeped.es/comite-medicamentos/pediamecum/fenobarbital"> https://www.aeped.es/comite-medicamentos/pediamecum/fenobarbital </A></p>
        
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive">
        Gabapentina
      </a>
    </div>
    <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="container-fluid mt-3">
          <h3>Gabapentina</h3>
          <p>La Gabapentína es un antiepiléptico empleado en monoterapia o politerapia, en crisis parciales o con generalización secundaria.
          Presenta como ventaja la no interacción con otros fármacos y su eficacia en epilepsias focales. No tiene una buena absorción, por ello hay que repartir las dosis en varias tomas diarias.
          <br><br><b>Efectos secundarios e interacciones con otros fármacos:</b>
          <br>Leer detenidamente el prospecto del fármaco o la ficha que se puede solicitar en la farmacia.
          <br><br><b> Forma de comercialización:</b>
          <br>- Cápsulas.
          <br>- Comprimidos.
          <br><br><b> Rango terapéutico:</b> Poco valor.
          <br><br> Dosis, según prescripción del neurólogo y observación de la clínica del paciente (efecto que produce en su organismo al tomarlo).
        
          <img src = "https://www.drogueriascafam.com.co/36061-large_default/comprar-en-cafam-gabapentin-300-mg-caja-con-30-capsulas-precio.jpg"
          width = "400" height = "300">
        
          <p> Información tomada de: <A HREF="https://www.apiceepilepsia.org/farmacos-anti-epilepticos-fae/#Salto1"> https://www.apiceepilepsia.org/farmacos-anti-epilepticos-fae/#Salto1 </A></p>
        
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseSix">
        Lamotrigina
      </a>
    </div>
    <div id="collapseSix" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="container-fluid mt-3">
          <h3>Lamotrigina</h3>
          <p>La Lamotrigina es un antiepiléptico eficaz en monoterapia y en politerapia, en crisis parciales o con generalización secundaria. Suelen emplearse ocho semanas hasta alcanzar la dosis adecuada (sobre todo, si esta combinado con valproato) para evitar el riesgo de reacciones alérgicas cutáneas que, en algunos casos, llegan a presentar fiebre.
          <br><br><b>Efectos secundarios e interacciones con otros fármacos:</b>
          <br> Leer detenidamente el prospecto del fármaco o la ficha que se puede solicitar en la farmacia.
          <br><br><b> Forma de comercialización:</b>
          <br>- comprimidos.
          <br>- Dispersables.
          <br><br><b> Rango terapéutico:</b> 5 a 10 Ug/ml.
          <br><br>Dosis, según prescripción del neurólogo y observación de la clínica del paciente (efecto que produce en su organismo al tomarlo).
        
            
          <img src = "https://quefarmacia.com/wp-content/uploads/2019/04/lamotrigina.jpg"
          width = "400" height = "300">
        
          <p> Información tomada de: <A HREF="https://www.apiceepilepsia.org/farmacos-anti-epilepticos-fae/#Salto7"> https://www.apiceepilepsia.org/farmacos-anti-epilepticos-fae/#Salto7 </A></p>

          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseSeven">
        Oxcarbazepina
      </a>
    </div>
    <div id="collapseSeven" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="container-fluid mt-3">
          <h3>Oxcarbazepina</h3>
          <p>Análogo a la carbamazepina (Tegretol) pero con muchas ventajas sobre ésta en las politerapias.
          Tiene una cinética muy favorable y carece de las interacciones al asociarse con otros fármacos, anti epilépticos o no.
          Las indicaciones clínicas son las mismas que la cabamazepina. La tolerabilidad del medicamento es buena, se puede introducir en dos semanas.
        
          <br><br><b>Efectos secundarios e interacciones con otros fármacos:</b>
          <br>Leer detenidamente el prospecto del fármaco o la ficha que se puede solicitar en la farmacia.
        
          Los síntomas más frecuentes (al inicio del tratamiento) son vómitos, somnolencia, cefalea, vértigo, náusea y visión borrosa o doble.
          También existe un ligero riesgo de reducción del sodio sanguíneo (hiponatremia).
          <br><br><b>Forma de comercialización:</b>
          <br>- comprimidos.
          <br>- Suspensión.
          <br><br><b>Rango terapéutico:</b> 15a 30 Ug/ml.
          <br><br> Dosis, según prescripción del neurólogo y observación de la clínica del paciente (efecto que produce en su organismo al tomarlo).
        
          
          <img src = "https://www.farmalisto.com.co/92053/comprar-oxcarbazepina-300-mg-caja-con-20-tabletas-cubiertas-rx-rx1-precio.jpg"
          width = "400" height = "300">
        
          <p> Información tomada de: <A HREF="https://www.apiceepilepsia.org/farmacos-anti-epilepticos-fae/#Salto2"> https://www.apiceepilepsia.org/farmacos-anti-epilepticos-fae/#Salto2 </A></p>
        
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseEight">
        Topiramato
      </a>
    </div>
    <div id="collapseEight" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="container-fluid mt-3">
          <h3>Topiramato</h3>
          <p>Fármaco anticonvulsionante dotado de un amplio espectro de actividad antiepiléptica.</p>
          <p><b>Uso clínico:</b>
          <br>Monoterapia en crisis epiléticas parciales con o sin crisis generalizadas secundarias y crisis
          tónicoclónicas generalizadas primarias en niños mayores de 6 años.
          Tratamiento concomitante de las crisis epiléticas parciales con o sin generalización secundaria o crsis
          tónicoclónicas generalizadas primarias y actua como neuroprotector tras lesión anóxica.
          </p>
          <p><b> Dosis y pautas de administración:</b>
          Es recomendable comezar el tratamiento por ua dosis baja seguida de u ajuste hasta conseguir una dosis eficaz. La dosis
          y el ajuste de dosis deben realizarse en función de la respuesta clínica. Administración vía oral.
          Se precisa ajuste de dosis en insuficiencia renal(se recomienda la mitad de la dosis de inicio y de mantenimiento
          habitual). </p>
          <p><b> Contraindicaciones: </b>
          <br>- Hipernsensibilidad al principio activo o alguo de los excipientes.
          <br>- En la profilaxis de la migraña durante el embarazo y en las mujeres en edad de riesgo de embarazo
          que no estén usando u método anticonceptivo eficaz. </p>
          <p><b> Precausiones: </b>
          <br>- Con otros medicametos antiepilépticos, algunos pacientes pueden experimentar un aumento en la frecuencia de las crisis
          epilépticas o la aparición de nuevos tipos de crisis epilépticas.
          <br>- Es importante tener una buena hitración adecuada durante el tratamiento con topiramato.
          <br>- Durante el tratamiento se ha observado un aumento de la incidencia de alteraciones del estado de ánimo y depresión. En algunos pacientes
          tratatos con agentes antiepilépticos en varias indicaciones se ha notificado ideación y comportamiento suicida.
          <br>- Se debe administrar con precaución a pacientes con insuficiencia hepática ya que puede verse disminuido
          el aclaramiento de topiramato.
          <br>- Miopía aguda y glaucoma secundario de ángulo cerrado: los síntomas inlcuyen un cuadro agudo de disminución de la agudez visual o dolor ocular.
          <br>- Acidosis metabólica.
          <br>- Perdida de peso.
          <br>- Daño fetal y restricción del crecimiento fetal.
          </p>
        
          <p><b>Efectos secundarios: </b>
          <br>- Disminución o aumento del apetito.
          <br>- Acidosis hiperclorémica.
          <br>- Hipopotasemia.
          <br>- comportamiento anormal(agresivo, alteraciones del estado de ánimo, ansiedad, depresion, apatía).
          <br>- Insomnio de inicio.
          <br>- Ideación suicida.
          <br>- Trastorno en la atención(problemas de memoria, alteracion del lenguaje).
          <br>- Letargia.
          <br>- Trastorno del ritmo circadiano del sueño.
          <br>- Mala calidad del sueño.
          <br>- Alteración en la forma de andar.
          </p>
        
          <p> La sobredosis por topiramato puede dar lugar a acidosis metabólica grave.</p>
          <p><b> Conservación: </b> Conservar por debajo de los 25°C. </p>
        
          <img src = "https://farmapalacio.com/wp-content/uploads/2020/09/Farmapalacio-375.jpg"
          width = "400" height = "300">
        
          <p> Información tomada de: <A HREF="https://www.apiceepilepsia.org/farmacos-anti-epilepticos-fae/#Salto1"> https://www.apiceepilepsia.org/farmacos-anti-epilepticos-fae/#Salto1 </A></p>
        
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseNine">
        Zonisamida
      </a>
    </div>
    <div id="collapseNine" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="container-fluid mt-3">
          <h3>Zonisamida</h3>
          <p>La Zonisamida apareció en Japón en el año 1989 para el tratamiento de los pacientes 
          con crisis parciales con o sin generalización secundaria que ya tomen otros anti epilépticos.
          <br><br><b>Efectos secundarios e interacciones con otros fármacos:</b>
          <br>Leer detenidamente el prospecto del fármaco o la ficha que se puede solicitar en la farmacia.
          <br>Puede provocar somnolencia, agotamiento, mareos y problemas de coordinación muscular. Además de alucinaciones visuales, irritabilidad y pérdida de apetito.
          Menos frecuentemente puede producir menor sudoración, fiebre, lentitud mental y cálculos renales en personas con disposición genética.
          <br><br><b> Forma de comercialización:</b>
          <br>- comprimidos.
          <br><br>Dosis, según prescripción del neurólogo y observación de la clínica del paciente (efecto que produce en su organismo al tomarlo).
          <br><br><b>Rango terapéutico:</b> 15 - 40 Ug/ml. Dos tomas diarias.
        
          <img src = "https://www.normon.es/img/products/zonisamida.jpg?20200113163120"
          width = "400" height = "300">
        
          <p> Información tomada de: <A HREF="https://www.apiceepilepsia.org/farmacos-anti-epilepticos-fae/#Salto15"> https://www.apiceepilepsia.org/farmacos-anti-epilepticos-fae/#Salto15 </A></p>
        
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>