<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <title>ConvulX/medicamentos</title> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="stylesheet" href="{{ url_for ('static', filename='bootstrap.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> 
  <style>  
    body {  
      font-family: Arial, sans-serif;  
    }  
  
    .container {  
      text-align: center;  
      margin-top: 50px;  
    }  
  
    h1 {  
      color: #333;  
    }  
  
    .alarm-input {  
      padding: 10px;  
      font-size: 16px;  
      border: 1px solid #ccc;  
      border-radius: 4px;  
      margin: 10px;  
    }  
  
    .alarm-button {  
      background-color: #4CAF50;  
      color: white;  
      border: none;  
      padding: 10px 20px;  
      text-align: center;  
      text-decoration: none;  
      display: inline-block;  
      font-size: 16px;  
      border-radius: 4px;  
      cursor: pointer;  
    }  
  
    .stop-button {  
      background-color: #f44336;  
      display: none;  
    }  
  
    .stop-button.show {  
      display: inline-block;  
    }  
  
    .alarm-name {  
      margin-top: 10px;  
      font-size: 14px;  
      color: #666;  
    }  
  </style> 
 
</head> 
<body> 
<ul class="nav"> 
  <li class="nav-item"> 
    <a class="nav-link" href="\menu"> 
      <h1>ConvulX</h1> 
    </a> 
  </li> 
</ul> 
<nav class="navbar navbar-expand-sm bg-dark navbar-dark"> 
  <div class="container-fluid"> 
    <a class="navbar-brand" href="#"> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"> 
      <span class="navbar-toggler-icon"></span> 
    </button> 
    </a> 
    <button onclick="window.open('/usuario', '_self')"><img src="https://www.nicepng.com/png/detail/501-5010656_my-account-comments-my-account-icon-vector.png" alt="Logo" style="width:40px;" class="rounded-pill"></button> 
    <div class="collapse navbar-collapse" id="collapsibleNavbar"> 
      <ul class="navbar-nav"> 
        <li class="nav-item"> 
          <a class="nav-link" href="\frecuencia">Frecuencia cardíaca</a> 
        </li> 
        <li class="nav-item"> 
          <a class="nav-link" href="\dormir">Ciclo de sueño</a> 
        </li> 
        <li class="nav-item"> 
          <a class="nav-link" href="\medicamentos">Medicamentos</a> 
        </li>    
        <li class="nav-item"> 
          <a class="nav-link" href="\informacion">Información</a> 
        </li>    
        <li class="nav-item"> 
          <a class="nav-link" href="\que">¿Qué hacer en caso de ...?</a> 
        </li>   
      </ul> 
    </div> 
  </div> 
</nav> 
 
<div class="container-fluid mt-3">  
  <form action="/nueva_alarma" method="post"> 
    <h3>Alarma de medicamentos</h3>  
    <p>En este espacio puedes realizar un control de la toma de medicamentos mediante la creación de alarmas para cada uno de ellos.</p> 
    <h4>Nueva alarma</h4>  
 
    <label for="nameInput" class="form-label">Nombre de la alarma</label> 
    <input type="text" class="form-control" id="nameInput" placeholder="Nombre de la alarma" name="nameInput">  
    <label for="hourInput" class="form-label"></label>
    <input type="number" class="alarm-input" min="0" max="23" placeholder="HH" id="hourInput" name="hourInput">
    <span>:</span>   
    <label for="minuteInput" class="form-label"></label>
    <input type="number" class="alarm-input" min="0" max="59" placeholder="MM" id="minuteInput" name="minuteInput">
    <br> <br> 
    <h5>¿Cada cuánto tiempo se debe repetir esta alarma?</h5> 
    <label for="hour_Input" class="form-label"></label>
    <input type="number" class="alarm-input" min="0" max="23" placeholder="HH" id="hour_Input" name="hour_Input">
    <span>:</span>   
    <label for="minute_Input" class="form-label"></label>
    <input type="number" class="alarm-input" min="0" max="59" placeholder="MM" id="minute_Input" name="minute_Input">
    <br><br> 
      <h5>¿Qué días se debe repetir esta alarma?</h5> 
 
      <input type="checkbox" name="lunes" value="lunes" > lunes<br>  
  
      <input type="checkbox" name="martes" value="martes"> martes<br>  
    
      <input type="checkbox" name="miercoles" value="miercoles"> miercoles<br>  
 
      <input type="checkbox" name="jueves" value="jueves"> jueves<br> 
 
      <input type="checkbox" name="viernes" value="viernes"> viernes<br> 
 
      <input type="checkbox" name="sabado" value="sabado"> sabado<br> 
 
      <input type="checkbox" name="domingo" value="domingo"> domingo<br> 
      <br> 
      <button type="submit" class="btn btn-primary">Submit</button> 
 
  </form> 
    
<div class="container">
  <table class="table table-bordered">
    <thead> 
    <tr> 
      <th>Nombre alarma</th> 
      <th>Hora</th> 
      <th>Minutos</th>
      <th>Hora de repetir</th>
      <th>Minuto de repetir</th>
      <th>Días</th>
    </tr> 
    </thead>
    <tbody>
    <tr> 
      <td>{{ name }}</td> 
      <td>{{ hora_i }}</td> 
      <td>{{ minu_i }}</td> 
      <td>{{ hora_r }}</td> 
      <td>{{ minu_r }}</td> 
      <td>{{ dias_seleccionados }}</td> 
    </tr> 
    </tbody>
  </table>
</div>
</table> 
<br> 
    <button class="alarm-button" onclick="setAlarm()">Establecer alarma</button>  
    <button class="alarm-button stop-button" onclick="stopAlarm()">Detener alarma</button>  
    <div id="alarmName" class="alarm-name"></div> 
  <!-- </form> --> 
</div>  

    
  <audio id="alarmSound" src="Proyecto\static\WayV V Love Talk MV.mp3" loop></audio>  
    
  <script>  
    var alarmSound = document.getElementById("alarmSound");  
    var stopButton = document.querySelector(".stop-button");  
    var alarmName = document.getElementById("alarmName");  
    
    function setAlarm() {  
      var nameInput = document.getElementById("nameInput");  
      var hourInput = document.getElementById("hourInput");  
      var minuteInput = document.getElementById("minuteInput");  
    
      var name = nameInput.value;  
      var hours = parseInt(hourInput.value);  
      var minutes = parseInt(minuteInput.value);  
    
      var now = new Date();  
      var alarm = new Date();  
      alarm.setHours(hours);  
      alarm.setMinutes(minutes);  
      alarm.setSeconds(0);  
    
      var timeDiff = alarm - now;  
      if (timeDiff <= 0 || isNaN(timeDiff)) {  
        alert("Hora de alarma no válida");  
        return;  
      }  
    
      setTimeout(function() {  
        startAlarm(name);  
      }, timeDiff); 
    
      nameInput.value = "";  
      hourInput.value = "";  
      minuteInput.value = "";  
    
      alarmName.innerText = "Alarma '" + name + "' establecida a las " + formatTime(hours) + ":" + formatTime(minutes);  
    }  
    
    function startAlarm(name) {  
      alarmSound.play();  
      stopButton.classList.add("show");  
      alarmName.innerText = "Alarma '" + name 
      "' sonando";  
    }  
  
    function stopAlarm() {  
    alarmSound.pause();  
    alarmSound.currentTime = 0;  
    stopButton.classList.remove("show");  
    alarmName.innerText = "";  
    }  
     
    function formatTime(time) {  
    return (time < 10) ? "0" + time : time;  
    }  
  
  </script> 
 
</body> 
</html>